/* @import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lato:wght@300;400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display&display=swap");

body {
    /* background:url(/img/fondo2.jpg); */
    /* background-size: cover; */
    /* background: url(/img/fondo2.jpg); */
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

.sidebar {
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    /* height: 100vh; */
    height: 100%;
    width: 70px;
    /* background-color: #093633; */
    background-color: #535c68;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    box-shadow: 1px 0px 5px #000;
    overflow-y: auto;
    z-index: 2;
    transition: 0.5s;
    /* Ocultar scrollbar Firefox */
    scrollbar-width: none;
    /* Ocultar scrollbar Edge */
    -ms-overflow-style: none;
}

/* Ocultar sidebar Safari y Chrome */
.sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sidebar.active {
    width: 220px;
    z-index: 2;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: 0.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.active #btn {
    left: 85%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

.sidebar.active + .overlay {
    display: block;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 1000;
}

h1 {
    font-weight: 1000;
}

.sidebar p {
    opacity: 0;
    transition: all 0.3s ease;
}

.sidebar.active p {
    opacity: 1;
    transition: all 0.3s ease;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 0.8rem;
}

.sidebar ul li a:hover i {
    background-color: #fff;
    color: #12171e;
    transition: all 0.3s ease;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    transform: translateX(-70%);
}

.sidebar .nav-item {
    opacity: 0;
    transition: all 0.3s ease;
}

.sidebar.active .nav-item {
    opacity: 1;
    transition: all 0.3s ease;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 0px 5px #000;
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    background-color: #fff;
    color: #000;
    pointer-events: none;
    transition: all 0.3 ease;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    display: block;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    padding: 1rem;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.main-content.mostrar {
    opacity: 1;
}

.container {
    justify-content: space-between;
    transition: all 0.5 ease;
    padding: px;
}

.grid-container {
    display: grid;
    columns: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.centerer {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.tables {
    width: 70%;
}

button {
    background-color: #00000000;
    border-color: #00000000;
    color: #535c68;
}
.card {
    /* background-color: dodgerblue; */
    /* color: white; */
    border-color: #22222200;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.screen-center {
    margin-top: 10%;
}

.card .space-padding {
    padding: 20px;
}

.only-form {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}

a {
    cursor: pointer;
    color: #535c68;
}

.crud {
    font-size: 32px;
    margin-left: 20px;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.btn.btn-green {
    color: #535c68;
    border-color: #22222200;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
}

.btn {
    transition: 0.2s;
}

.btn.btn-exit {
    background-color: #00000000;
    color: #fff;
    font-weight: 1000;
}

.year {
    margin-bottom: 20px;
}

.month {
    margin: 10px;
}

table {
    width: 100%;
    background: #e0e0e0;
    box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
    border-radius: 20px; /* Ajusta el radio del borde para el estilo de neumorfismo */
    overflow: hidden;
}

td {
    border: none; /* Eliminar la línea superior de cada celda */
    padding: 10px;
}

/* Estilo para las líneas horizontales */
tr {
    background: #e0e0e0; /* Color de fondo de las filas */
    border-bottom: 8px solid #535c6849; /* Añadir línea horizontal */
    padding-left: 20px;
    padding-right: 20px;
}

th {
    border: none;
    padding: 10px;
    background: #e0e0e0;
}

tr:first-child th {
    border-top: 8px solid rgba(83, 92, 104, 0); /* Añade línea horizontal solo en el primer encabezado */
    padding-left: 20px; /* Agrega un espacio a la izquierda de las celdas de datos */
    padding-right: 20px;
}

tr:last-child td {
    border-bottom: 8px solid #00000000; /* Añade línea horizontal solo en la última fila */
}

.reservation {
    background-color: #ff0000;
    padding: 5px;
    margin-top: 5px;
}

.reserved-text {
    color: #ffffff;
    font-weight: bold;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.btn-exit {
    background-color: #00000000;
    color: #fff;
    border: #00000000;
    cursor: pointer;
    left: 150px;
}

.bordered-image {
    border-radius: 20px;
    width: 720px;
    box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
}

.dark-mode {
    background-color: #222; /* Cambiar el color de fondo para el modo oscuro */
    color: #fff; /* Cambiar el color del texto para el modo oscuro */
}

.dark-mode {
    background-color: #32323f;
}

.dark-mode .card {
    color: #fff;
    background: #32323f;
    box-shadow: 20px 20px 60px #24242d, -20px -20px 60px #414151;
}

.dark-mode .btn {
    color: #fff;
    background: #32323f;
    box-shadow: 20px 20px 60px #24242d, -20px -20px 60px #414151;
}

.dark-mode .sidebar {
    background-color: #253341;
}

.dark-mode table {
    background: #32323f;
    color: #fff;
    box-shadow: 20px 20px 60px #24242d, -20px -20px 60px #414151;
}

.dark-mode .white-cell {
    background: #32323f;
}

.dark-mode th {
    background: #32323f;
}

.dark-mode .crud {
    color: #fff;
}

ul li.active {
    background-color: #f0f0f0;
}
